node_modules
dist
.env
.env.*
!.env.example
.git
.gitignore
.eslintrc*
.prettierrc*
README.md
*.md
test
tests
coverage
.nyc_output
*.spec.ts
*.test.ts
Dockerfile*
docker-compose*
.dockerignore
.github
.vscode
npm-debug.log*
